td.battery-status-green {
	background: linear-gradient(90deg, hsl(92, 89%, 46%) 15%, hsl(92, 90%, 68%) 100%);
}
td.battery-status-yellow {
	background: linear-gradient(90deg, hsl(54, 89%, 46%) 15%, hsl(92, 90%, 45%) 100%);
}
td.battery-status-orange {
	background: linear-gradient(90deg, hsl(22, 89%, 46%) 15%, hsl(54, 90%, 45%) 100%);
	color: white;
}
td.battery-status-red {
	background: linear-gradient(90deg, hsl(7, 89%, 46%) 15%, hsl(11, 93%, 68%) 100%);
	color: white;
}

td.battery-status-charging {
	background-image: url(../icons/charging.svg);
	background-repeat: no-repeat;
	background-position: center center;
	background-color: forestgreen;
	color: white;
	font-weight: bold;
}
html, body {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: 'Droid Sans', Arial, sans-serif;
	height: 100%;
}

input,
textarea,
select {
	font-size: inherit;
}

.main {
	padding: 0 0 0 0;
}

h1 {
	margin: 0;
}
h3 {
	margin: 20px 0 10px 0;
}

button {
	margin-right: 5px;
	margin-left: 5px;
	margin-top: 2px;
	margin-bottom: 2px;
}

.connecting {
	position: fixed;
	top: 45%;
	left: 0;
	right: 0;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	font-size: 50px;
}
.status_label,
.status {
	color: #666;
}
.btp_status_label,
.btp_status {
	color: #666;
}
.ticker_status_label,
.ticker_status {
	color: #666;
}


.errors {
	color: #f00;
	white-space: pre-wrap;
	max-height: 50px;
	overflow-y: scroll;
}

.vlink,
a:link,
a:visited {
	color: #00e;
	cursor: pointer;
	text-decoration: none;
}
.vlink:hover,
a:hover {
	text-decoration: underline;
}

.uneditable {
	cursor: not-allowed;
}

.tournament_referee_view_link,
.tournament_btp_fetch,
.tournament_ticker_push,
.tournament_settings_link {
	display: inline-block;
	color: black;
}

.tournament_settings fieldset {
	margin: 1em 0;
	padding: 0;
	border: none;
}

.tournament_settings > label,
.tournament_settings fieldset > label ,
.tournament_settings > .settings > label,
.tournament_settings fieldset > .settings > label {
	display: flex;
	align-items: center;
}

.tournament_settings > label > span,
.tournament_settings fieldset > label > span,
.tournament_settings > .settings > label > span,
.tournament_settings fieldset > .settings > label > span {
	display: inline-block;
	width: 400px;
	min-width: fit-content;
}

.tournament_settings > label > input[type=text],
.tournament_settings fieldset > label > input[type=text],
.tournament_settings > .settings > label > input[type=text],
.tournament_settings fieldset > .settings > label > input[type=text],
.tournament_settings > label > input[type=number],
.tournament_settings fieldset > label > input[type=number],
.tournament_settings > .settings > label > input[type=number],
.tournament_settings fieldset > .settings > label > input[type=number]  {
	flex-grow: 1;
}

.tournament_settings > label > select,
.tournament_settings fieldset > label > select,
.tournament_settings > .settings > label > select,
.tournament_settings fieldset > .settings > label > select {
	flex-grow: 1;
}



.tournament_settings {
	display: block;
	columns: 920px 6;
}

.settings {
	display: inline-block;
	background-color: #ddd;
	width: 900px;
	padding: 10px;
	border-radius: 10px;
	margin: 10px;
}

.dialog_bg {
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	z-index: 1000;
	background-color: rgba(0, 0, 0, 0.9);
	text-align: center;
}
.dialog {
	display: inline-block;
	background-color: rgba(255, 255, 255, 1);
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	padding: 1em;
}

.nationstats_table tr:nth-child(odd) td {
	background: #eee;
}

table.striped-table {

}

.old {
	position: fixed; left: 0; right: 0; top: 0; bottom: 0;
}

.main_upcoming {
	background: #000; color: #fff;
	position: fixed; left: 0; right: 0; top: 0; bottom: 0;
	padding: 0 0;
	font-size: 35px;
	cursor: none;
}

.end_container {
	height: 400px;
}

.help_me{
	position: fixed;
	left: 0; right: 0; top: 0; bottom: 0;
	height: 975px;
	background-color: red;
	width: 50px;
}

.upcoming_table {
	border-collapse: collapse;
	width: 98%;
	margin: 0 1% 0 1%;
}
.upcoming_table td {
	vertical-align: middle;

}
.upcoming_table td:not(:first-child) {
	padding-left: 0.3em;
	padding-right: 0.3em;
	white-space: pre-wrap;
}

.metadata_container {
	background-color: #00000020;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap-reverse;
	justify-content: space-around;
	padding: 0.25em 0 0 0;
	margin: 0 0 0.75em 0;
	border-bottom: 1px solid black;
}

.announcements_container{
	width: 400px;
}
.announcements_container > form {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
}

.status_error,
.status_waiting,
.status_deactivated,
.status_connecting,
.status_connected {
	display: inline-block;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 1.0em;
	min-height: 1em;
	width: 1.0em;
	margin: 0 0.2em -0.2em 0.2em;
}

.status_connected {
	background-image: url(../icons/signal_green.svg);
}

.status_connecting {
	background-image: url(../icons/signal_yellow.svg);
}

.status_waiting,
.status_error {
	background-image: url(../icons/signal_red.svg);
}

.status_deactivated {
	background-image: url(../icons/signal_black.svg);
}

h2 {
	margin: 0;
	padding-top: 15px;
	padding-bottom: 5px;
	font-size: 70px;
	color: #fff;
	text-align: center;
}

h2.edit {
	margin: 10px 0 20px 0;
	padding-top: 0px;
	padding-bottom: 0px;
	font-size: 25px;
	color: black;
	text-align: left;
}

.settings table > tbody > tr {
	background-color: #bbb;
}

.settings table > tbody > tr:nth-of-type(even) {
	background-color: #ccc;
}

.settings .online {
	background-color: #97e6b4;
}

.settings table > tbody > .online:nth-of-type(even) {
	background-color: #adffcb;
}

.settings .wait_for_done {
	background-color: #dfe197;
}

.settings table > tbody > .wait_for_done:nth-of-type(even) {
	background-color: #fcffad;
}


.settings .offline {
	background-color: #e69797
}

.settings table > tbody > .offline:nth-of-type(even) {
	background-color: #ffadad;
}

.settings table {
	border:none;
	border-spacing: 0;
	width: 100%;
}
