html,
body {
	margin: 0;
	padding: 0;
	font-size: 20px;
	font-family: 'Droid Sans', Arial, sans-serif;
}

.main {
	padding: 0 0 0 1em;
}

h3 {
	margin: 0;
}

.connecting {
	position: fixed;
	top: 45%;
	left: 0;
	right: 0;
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	font-size: 50px;
}

.status {
	position: fixed;
	bottom: 0;
	right: 0;
	color: #666;
	background: rgba(255, 255, 255, 0.8);
}

.errors {
	position: fixed;
	bottom: 0;
	left: 0;
	color: #f00;
	background: rgba(255, 255, 255, 0.8);
	white-space: pre-wrap;
}

.vlink {
	color: #00e;
	cursor: pointer;
}
.vlink:hover {
	text-decoration: underline;
}

.uneditable {
	cursor: not-allowed;
}

.tournament_settings_link {
	float: right;
}
.tournament_settings > label {
	display: block;
}
.tournament_settings > label > span {
	display: inline-block;
	min-width: 5em;
}
