.match_save_button {
	font-size: 120%;
	padding: 9px 20px;
}

.match_num {
	text-align: right;
	padding: 0 0.3em 0 0.3em;
}

.match_edit_button,
.match_scoresheet_button,
.match_preparation_call_button,
.match_begin_to_play_button,
.match_second_call_button,
.match_rawinfo {
	display: inline-block;
	min-width: 1em;
	min-height: 1em;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
}
.match_edit_button {
	background-image: url(../icons/edit.svg);
}
.match_scoresheet_button {
	margin: 0 0 0 0.3em;
	background-image: url(../icons/scoresheet.svg);
}

.match_preparation_call_button {
	height: 1.2em;
    min-height: 1em;
    width: 1.4em;
    margin: 0 0 -0.1em 0.3em;
	background-image: url(../icons/preperation.svg);
}

.match_begin_to_play_button {
	height: 1.5em;
    min-height: 1em;
    width: 2.3em;
    margin: 0 0 -0.1em 0.3em;
	background-image: url(../icons/start.svg);
}

.match_second_call_button {
	height: 1.2em;
    min-height: 1em;
    background-size: cover;
    width: 1.9em;
    margin: 0 0.2em -0.2em 0.2em;
	background-image: url(../icons/second_call.svg);
}
.match_rawinfo {
	margin: 0 0.3em 0 0.3em;
	background-image: url(../icons/rawinfo.svg);
}

.edit_match_container {
	text-align: left;
}
.edit_match_container > div {
	margin: 0.2em 0;
}
.edit_match_container > div > span {
	display: inline-block;
	padding-left: 1em;
}

.match_edit_button:hover,
.match_second_call_button:hover,
.match_preparation_call_button:hover,
.match_begin_to_play_button:hover,
.match_scoresheet_button:hover {
	opacity: 0.5;
}

.match_table {
	border-collapse: collapse;
}
.match_table > thead > tr > th {
	text-align: left;
}
.match_table > tbody > tr:hover > td {
	background-color: #ddd;
}

.match_cancel_link {
	margin-top: 1em;
}
.match_label {
	font-size: 80%;
	text-align: right;
	color: #666;
}
.match_team2 {
	padding-right: 0.3em;
}
.match_vs {
	color: #999;
	padding: 0 0.5em;
}
.match_team_won {
	font-weight: bold;
}
.match_score{
	font-weight: bold;
	padding-left: 0.2em;
}
.match_score_current {
	font-weight: bold;
	font-size: 1.5em;
	padding-left: 0.3em;
}

.match_timer {
	min-width: 3.6em;
}

.match_timer > div {
	font-size: 1.2em;
	font-weight: 900;
    background-color: #111111;
    min-width: 2.3em;
    text-align: right;
    padding: 0.1em 0.3em 0.1em 0.3em;
	border-radius: 7px;
}

.match_shuttle_count {
	white-space: pre;
	text-align: right;
	padding-left: 0.4em;
}
.match_shuttle_count span::after {
	content: '';
	display: inline-block;
	width: 1em;
	height: 1em;
}
.match_shuttle_count span.match_shuttle_count_display_active::after {
	background-image: url("../../bup/icons/shuttle.svg");
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
}

.match_no_umpire {
	font-style: italic;
}

.single_scoresheet {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%; /* legacy */
	width: 100vw;
	height: 70.71067811865474vw; /* 100 / √2  (ratio of DIN A) */
	max-width: 141.4213562373095vh;
	max-height: 100vh;
}

match_preparation_call_button,
match_begin_to_play_button,
match_second_call_button,
.match_scoresheet_buttons {
	position: fixed;
	left: 0;
	width: 100%;
	height: 6vmin;
	bottom: 5vh;
	font-size: 4vmin;
	display: flex;
	align-items: center;
	justify-content: center;
}
.match_scoresheet_buttons > * {
	display: block;
}
.match_scoresheet_buttons > button {
	margin: 0 0 0 2vmin;
	font-size: 5vmin;
	padding: 0.1em 0.1em;
	min-width: 5em;
}

.match_second_call_button > * {
	display: block;
}
.match_second_call_button > button {
	margin: 0 0 0 2vmin;
	font-size: 5vmin;
	padding: 0.1em 0.1em;
	min-width: 5em;
}

.match_umpire_style_umpires {
	font-weight: bold;
}

.checked_in {
	background-color: #adffcb;
}

.not_checked_in {
	background-color: #ffabab;
}

.now_playing {
	background-color: #fbe44d;
}

.now_on_court {
	background-color: inherit;
}

.tablet,
.tablet_inline,
.umpire,
.no_umpire,
.court,
.court_history {
	margin: 0 0.2em -0.2em 0.2em;
	display: inline-block;
	width: 1.73em;
	min-width: 1.73em;
	height: 1.2em;
	min-height: 1.2em;
	background-size: cover;
	opacity: 1;
	color: #fff;
	text-align: center;
	-webkit-text-stroke-width: 1px;
	-webkit-text-stroke-color: black;
	text-shadow:
	3px 3px 3px #000,
   -1px -1px 3px #000,  
   	1px -1px 3px #000,
   -1px 1px 3px #000,
	1px 1px 3px #000;
}

.tablet,
.tablet_inline {
	background-image: url(../icons/tablet.svg);
}

.tablet_inline {
	height: 1em;
	min-height: 1em;
	width: 1.4em;
	min-width: 1.4em;
	font-weight: 900;
	font-size: 1.1em;
	margin: -0.1em 0.1em 0.1em 0.1em;
	line-height: 100%;
}

.umpire {
	background-image: url(../icons/umpire.svg);
}

.no_umpire {
	background-image: url(../icons/no_umpire.svg);
}

.court{
	background-image: url(../icons/court.svg);
	height: 1em;
	min-height: 1em;
	width: 1.5em;
	min-width: 1.5em;
	font-weight: 900;
	font-size: 1.1em;
	margin: -0.1em 0.1em 0.1em 0.1em;
	line-height: 100%;
}


.court_history {
	background-image: url(../icons/court_history.svg);
	height: 1em;
	min-height: 1em;
	width: 1.5em;
	min-width: 1.5em;
	font-weight: 900;
	font-size: 1.3em;
	margin: -0.1em 0.3em 0.1em 0.3em;
	line-height: 100%;
}


@media print {
	.toprow,
	.main,
	.ticker_status,
	.btp_status,
	.errors,
	.status,
	.match_scoresheet_buttons {
		display: none;
	}
}
