.match_save_button {
	font-size: 120%;
	padding: 9px 3px;
}

.match_num {
	text-align: right;
}

.match_edit_button {
	display: inline-block;
	width: 1em;
	min-width: 1em;
	height: 1em;
	min-height: 1em;
	background-image: url(../icons/edit.svg);
	background-size: 100%;
	opacity: 0.5;
}
.match_edit_button:hover {
	opacity: 1;
}

.match_table {
	border-collapse: collapse;
}
.match_table>thead>tr>th {
	text-align: left;
}
.match_table>tbody>tr:hover>td {
	background: #ddd;
}

.match_cancel_link {
	margin-top: 1em;
}
.match_label {
	font-size: 80%;
	text-align: right;
	color: #666;
}
.match_team2 {
	padding-right: 1em;
}
.match_vs {
	color: #999;
	padding: 0 0.5em;
}
.match_team_won {
	font-weight: bold;
}

.match_no_umpire {
	font-style: italic;
}
