.tabletoperator_add_custom_button {
	display: inline-block;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 25px;
	background-size: cover;
	width: 25px;
	background-image: url(../icons/tabletoperator_add.svg);
	padding: 0.4em 0.4em;
	margin: 0.4em 0 0 0.25em;
}
.tabletoperator_add_button {
	display: inline-block;
	min-width: 1em;
	min-height: 1em;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 1.2em;
	background-size: cover;
	width: 1.0em;
	margin: 0 0.2em 0 0.2em;
	background-image: url(../icons/tabletoperator_add.svg);
}
.tabletoperator_move_up_button {
	display: inline-block;
	min-width: 1em;
	min-height: 1em;
	background-size: 50%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 1.2em;
	background-size: cover;
	width: 0.8em;
	margin: 0 -0.1em -0.2em 0.0em;
	background-image: url(../icons/move_up.svg);
}
.tabletoperator_move_down_button {
	display: inline-block;
	min-width: 1em;
	min-height: 1em;
	background-size: 80%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 1.2em;
	background-size: cover;
	width: 0.8em;
	margin: 0 0.0em -0.2em -0.1em;
	background-image: url(../icons/move_down.svg);
}

.tabletoperator_remove_button {
	display: inline-block;
	min-width: 1em;
	min-height: 1em;
	background-size: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	height: 1.2em;
	background-size: cover;
	width: 1.1em;
	margin: 0 0.2em -0.2em 0.2em;
	background-image: url(../icons/tabletoperator_remove.svg);
}

.tabletoperator_add_custom_button:hover,
.tabletoperator_move_up_button:hover,
.tabletoperator_move_down_button:hover,
.tabletoperator_remove_button:hover,
.tabletoperator_add_button:hover {
	opacity: 0.5;
}
.tabletoperator_add_custom_button > *,
.tabletoperator_remove_button > *,
.tabletoperator_add_button > * {
	display: block;
}
.tabletoperator_add_custom_button > button,
.tabletoperator_remove_button > button,
.tabletoperator_add_button > button {
	margin: 0 0 0 2vmin;
	font-size: 5vmin;
	padding: 0.1em 0.1em;
	min-width: 5em;
}

.unassigned_tableoperators_content {
	height: 130px;
	max-height: 130px;
}

.tabletoperator_add_custom_input {
	width: 290px;
}

.tabletoperators_table {
	border-collapse: collapse;
	border: 0px solid;
}

.tabletoperators_table > tbody > tr:nth-of-type(even) {
	background-color: #ccc;
}
