
.toprow {
	padding: 0.3em 0 0.3em 1em;
	background-color: #00000020;
	border-bottom: 1px solid black;
	display: flex;
}
.toprow > .toprow_link,
.toprow_right > .toprow_link {
	display: inline-block;
	color: black;
	font-weight: bold;
}
.toprow_sep {
	margin: 0 0.5em;
}

.toprow_right {
	margin-right: 0.5em;
	display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
	flex: 1;
}
.toprow_right > * + * {
	margin-left: 1.2em;
}
